<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Cicada</title>
    <link rel="stylesheet" href="../static/style.css" />
  </head>
  <body>
    <div class="container">
      <h1>Go deeper</h1>
      <p>Do you like cookies?</p>
      <span>
        <button onclick="alert('I have one for you')">Yes</button>
        <button onclick="alert('You`re a terrible person.')">No</button>
      </span>
    </div>
  </body>
</html>
